doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    body
        div(id='navbar')
        block content
        script(ref='/bootstrap/js/bootstrap.js')
        script(src='fabric/fabric.js')
        script(src='bundle.js')
